 data-shopify{
        @font-face {
            font-family: 'Aeonik';
            src: url("//www.notsellingliquid.com/cdn/shop/files/Aeonik-Regular.woff2?v=11777328378613522966") format('woff2'),
                url("//www.notsellingliquid.com/cdn/shop/files/Aeonik-Regular.woff?v=14984412462167582789") format('woff');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'PP Editorial Old';
            src: url("//www.notsellingliquid.com/cdn/shop/files/PPEditorialOld-Light.woff2?v=13586537134979268968") format('woff2'),
                url("//www.notsellingliquid.com/cdn/shop/files/PPEditorialOld-Light.woff?v=12339577768757059424") format('woff');
            font-weight: 300;
            font-style: normal;
            font-display: swap;
        }

        :root {
            --font-body-family: 'Aeonik';
            --font-heading-family: 'PP Editorial Old';
            --desktop-body-font: 12px;
            --desktop-h1-font: 80px;
            --desktop-h2-font: 60px;
            --desktop-h3-font: 48px;
            --desktop-h4-font: 16px;
            --desktop-h5-font: 40px;
            --desktop-h6-font: 30px;
            --mobile-body-font: 12px;
            --mobile-h1-font: 60px;
            --mobile-h2-font: 40px;
            --mobile-h3-font: 30px;
            --mobile-h4-font: 40px;
            --mobile-h5-font: 30px;
            --mobile-h6-font: 25px;
            --header-width: 100%;
            --background-color: #e5e2de;
            --text-color: #262424;
            --button-background: #c0bbae;
            --button-text: #262424;
            --cart-overlay: linear-gradient(63deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 100%);
            --grid-product-ratio: 1/1;
            --dark-stone: #9B978B;
            --stone: #C0BBAE;
            --fog: #E5E2DE;
            --light-fog: #F7F7F6;
            --glacier: #FFFFFF;
            --pure-cacao: #262424;
            --pure-black: #000000;
            --channel-orange: #F27E4C;
            --sale-red: #EF4B4B;
        }

        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }

        html {
            box-sizing: border-box;
        }
 }
gravity-font-faces{
        @font-face {
            font-family: 'GTStandard-M';
            src: url('https://cdn.shopify.com/shop-assets/static_uploads/shoplift/GTStandard-MRegular.woff2') format('woff2');
            font-style: normal;
            font-weight: 450;
            font-display: swap;
        }

        @font-face {
            font-family: 'GTStandard-M';
            src: url('https://cdn.shopify.com/shop-assets/static_uploads/shoplift/GTStandard-MMedium.woff2') format('woff2');
            font-style: normal;
            font-weight: 500;
            font-display: swap;
        }

        @font-face {
            font-family: 'GTStandard-M';
            src: url('https://cdn.shopify.com/shop-assets/static_uploads/shoplift/GTStandard-MSemibold.woff2') format('woff2');
            font-style: normal;
            font-weight: 600;
            font-display: swap;
        }
}
kl-custom-fonts{
        @import 'https://fonts.googleapis.com/css2?family=Martel:ital,wght@0,300;0,400&family=Nunito:ital,wght@0,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap';

        @font-face {
            font-family: 'Aeonik';
            src: url(https://www.notsellingliquid.com/cdn/shop/files/Aeonik-Regular.woff2);
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'EditorialOld';
            src: url(https://www.notsellingliquid.com/cdn/shop/files/PPEditorialOld-Light.woff2);
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'NeueHaasGrotDisp';
            src: url(https://cdn.shopify.com/s/files/1/0844/1061/files/NeueHaasDisplayMedium.ttf?v=1680702766);
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'NeueHaasGrotDisp';
            src: url(https://cdn.shopify.com/s/files/1/0844/1061/files/NeueHaasDisplayRoman.ttf?v=1680702765);
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }
}