@import "tailwindcss";

@font-face {
  font-family: "Aeonik";
  src: url("//www.notsellingliquid.com/cdn/shop/files/Aeonik-Regular.woff2?v=11777328378613522966")
      format("woff2"),
    url("//www.notsellingliquid.com/cdn/shop/files/Aeonik-Regular.woff?v=14984412462167582789")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial Old";
  src: url("//www.notsellingliquid.com/cdn/shop/files/PPEditorialOld-Light.woff2?v=13586537134979268968")
      format("woff2"),
    url("//www.notsellingliquid.com/cdn/shop/files/PPEditorialOld-Light.woff?v=12339577768757059424")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}